.vs/EFCore.VariousExtensions/v15/*
DataAccess/bin/*
DataAccess/obj/*
DataAccessExtensions/bin/*
DataAccessExtensions/obj/*
EFCore.VariousExtensions.TableOfValues/bin/*
EFCore.VariousExtensions.TableOfValues/obj/*
EFCore.VariousExtensions.TableOfValues.Test/bin/*
EFCore.VariousExtensions.TableOfValues.Test/obj/*
Enums/bin/*
Enums/obj/*
.vs/EFCore.VariousExtensions/DesignTimeBuild/.dtbcache
.vs/EFCore.VariousExtensions/v15/.suo
.vs/EFCore.VariousExtensions/v15/.suo
.vs/EFCore.VariousExtensions/v16/Server/sqlite3/storage.ide
.vs/EFCore.VariousExtensions/v16/Server/sqlite3/db.lock
.vs/EFCore.VariousExtensions/v16/.suo
.vs/EFCore.VariousExtensions/v15/.suo
packages/*
